body{
    margin: 0;
    padding: 0;
    background-image: url("../images/sky.jpg");
    background-color:rgba(0, 0, 0, 0.5) ;
    background-blend-mode: multiply;
    background-repeat:round;
}
a{
    text-decoration: wavy;
}
.bigtitle{
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    transition: 1s;
}
.bigtitle:hover{
    font-size: 85px;
    color: rgb(210, 234, 255);
    text-align: center;
}

.project1title{
    clear: both;
    text-align: center;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    padding-top: 30px;
    background-color: rgba(226, 226, 226, 0.523);
    box-shadow: 0 0 10px rgb(153, 153, 153);
    margin-top: 100px;
    margin-bottom: 50px;
}
.myweb{
    font-size: 50px;
    padding-top: 40px;
    font-weight: bolder;
    transition: 0.5s;
}
.myweb:hover{
    font-size: 40px;
    padding-top: 50px;
    text-shadow: #757575 0 0 10px;
}
header{
    padding: 3px;
    margin: 0px;
    display: inline-flexbox ;
    list-style: none;
    color: #ffffff;
    font-family: 'FangSong', 微軟正黑體;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e6fffd;
    height: 150px;
    z-index: 200;
    background-image: url("../images/greywood.jpg");
}

ul.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    list-style: none;
    font-size: 28px;
    text-align: center;
    list-style: none;
    margin-top: 0px;
}
ul.menu li {
    position: relative;
    white-space: nowrap;
}

ul.menu ul { /*隱藏次選單*/
    display: none;
}
ul.menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
    list-style: none;

    animation: fadein ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
ul.menu a {
    color: #333;
    display: block;
    padding: 2px;
    text-decoration: none;

}
ul.menu li:hover > div.frame :hover { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-image: url(" ../images/greywood.jpg");
    color: rgb(134, 134, 134);
}

div.frame{
    background-color: rgb(231, 231, 231);
    border-radius: 100px;
    padding: 20px;
    margin-top: 35px;
    overflow: hidden;
    height: 30px;
    width: 120px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    z-index: 200;

}
div a.frame:hover{
    /*緩慢放大*/

    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
div.frame:hover{
    background-color: rgb(167, 167, 167);

    background-image: url(" ../images/wood3.jpg");
}
div.frame1{
    padding: 0px auto;
    margin: 0px auto;
    width: 300px;
    filter:brightness(1.5);
    z-index: 200;

}
a.a1{
    color: inherit;
    text-decoration: none;
}
div a.a1:hover{
    color: rgb(53, 50, 42);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    z-index: 200;

}
footer{
    background-image: url("../images/greywood.jpg");

    background-color: #e6fffd;
    margin: 0px ;
    height: 230px;
    padding: 0px ;
    width: 100%;
    text-align: left;
    clear: both;
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(128, 128, 128);
}
.foot2{
    float: right;
    padding: 40px;
    padding-left: 0px;
    text-align: right;

}
.foottext{
    padding-top: 10px;
    /*text-shadow: 0px 0px 2px aqua;*/
    animation: opacity linear 2s ;
    animation-iteration-count: infinite;
    color: rgb(128, 128, 128);

}
.foot1 img:hover{
    transition: 1s;
    height: 100px;
}
.contact{
    width:370px;
    height: 10%;
    padding: 0px;
    position: relative;
    right: 0px;
    float: right;
    padding-right: 20px;
    align-content: flex-end;
}
.icon a{
    
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 20px;
    float: right;
}
.icon img{
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
}
.icon a:hover img{
    width: 70px;
    height: 70px;
    transition: 1s;
}
.foot1{
    float: left;
    padding: 20px;
    padding-top: 80px;
    color:rgb(52, 68, 78);
    transition: 1s;
    width: 50%;
    font-size: 20px;
}
.foot1:hover{
    color:rgb(52, 68, 78);
}
.foot1 img{
    height: 100px;
    float: left;
    padding-right: 30px;
    position: relative;
    right: 0px;
    bottom: 0px;
}
.top{
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 60px;
    height: 60px;
    transition: all 0.5s ease-in-out;
    background-color: rgb(163, 217, 255);
    border-radius: 100%;
    appearance: none;
    border: none;
    opacity: 0;
    font-size: 30px;
    color: white;
    z-index: 1999;
    box-shadow: 0 0 20px darkturquoise;
}
.top:hover{
    background-color: rgb(202, 155, 255);
    color: rgb(255, 241, 255);
    box-shadow: 0 0 20px rgb(185, 0, 209);

}