body{
    
}
a{
    text-decoration: wavy;
}
.bigtitle{
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    transition: 1s;
}
.bigtitle:hover{
    font-size: 85px;
    color: rgb(210, 234, 255);
    text-align: center;
}
.project1title{
    clear: both;
    text-align: center;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    padding-top: 30px;
    background-color: rgba(226, 226, 226, 0.523);
    box-shadow: 0 0 10px rgb(153, 153, 153);
    margin-top: 100px;
    margin-bottom: 50px;
}
.wang{
    clear: both;
    position: relative;
    margin: 0 auto;
    padding-right: 0px;
    padding-top: 100px;
    top: 100px;
    right: 0px;
}
.project1{
    margin: 0;
    width: 55%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}
.project1 p{
    text-indent: 40px;
    padding: 20px;
    margin: 50px;
    font-size: 20px;
    color: aliceblue;
}
.projectimg{
    float: right;
    width: 45%;
    /*background-color: black;*/
    overflow: hidden;
    margin-right: 0px;
}
.projectimg img{
    height: 450px;
    float: left;
    margin-right: 10px;
}
.marquee{
    margin-top: 100px;
    width: 2500px;
    margin-right: 50px;
    animation: movemarquee 15s ease-out;
    animation-iteration-count: infinite;
    
}
.marquee:hover{
    animation-play-state: paused;
}
.marquee1{
    margin-top: 100px;
    width: 4300px;
    margin-right: 50px;
    animation: movemarquee 30s ease-out;
    animation-iteration-count: infinite;
    
}
.marquee1:hover{
    animation-play-state: paused;
}
@-webkit-keyframes movemarquee{
    from{
        right: -100%;
        transform: translateX(0%);
    }
    to{
        right:  0;
        transform: translateX(-100%);
    }
}